[manifest]
version = "1.2"
dump_lua = true
priority = 0


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "    boot_timer('prep stage', 'splash prep',1)"
position = "before"
payload = """assert(AKYRS,[[ 

(X^X)

Hey! If you're reading this message, that means Aikoyori's Shenanigans has crashed :<

That means that something has gone wrong with your installation.

Here are the possible causes I can think of.

1. You have not updated Steamodded or Lovely Injector.

2. Your game is not updated OR something has changed the game's version to something else.

3. Your mod installation is "nested" (this means another folder is inside the mod folder. You will need to move that out manually)

4. Incomplete installation. Try reinstalling Aikoyori's Shenanigans.

5. Something is conflicting with Aikoyori's Shenanigans.

6. I fucked shit up.

7. Some other unknown causes.


In the last three cases, if you want to get this fix (if I know how), 

feel free to file a GitHub issue or join the mod's Discord (Link is on GitHub's Readme) or join the official Balatro Discord's modding thread

Much Love and thanks for downloading :>

- Aikoyori, the author of Aikoyori's Shenanigans



P.S. If you report the crash to me and you didn't read and is one of the first four clauses you are subject to public clownery >:>





















====== PLEASE READ ABOVE BEFORE CONTINUING ======


























== I guess Balatro players don't read, huh ==














== Living up to the 98% fame, I suppose ==





















======================================================================================================================================================
]])
AKYRS.aiko_mod_startup(self)
AKYRS.add_colours(G.C)"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "        for k, v in ipairs(card_protos) do"
position = "before"
payload = """
card_protos = customDeckHooks(self,card_protos)

"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """                if G.GAME.blind and G.GAME.blind.config.blind then """
position = "before"
payload = """
        G.GAME.word_todo = nil
"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''            card_eval_status_text(card, 'debuff')'''
position = "after"
payload = '''
SMODS.score_card(card, context)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''engine/event.lua'''
pattern = '''        other = {}'''
position = "after"
payload = ''',
akyrs_desc = {}
'''
match_indent = true
[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''func = (function(t) return math.floor(t) end)'''
position = "at"
payload = '''func = (function(t) return AKYRS.adjust_rounding(t) end)
'''
match_indent = true
